<p id="notice"><%= notice %></p>


<div class="main">

<h1>Menus</h1>

<input class="search-query form-control" type="search" results="5" id="search" placeholder="Looking for any type of cuisine? ">

  <div class="menu">
    <% @menus.each do |menu| %>
     <tr>
       <td>
         <div class="thumb">
          <%= link_to (image_tag menu.image), menu %>
          <p><%= link_to (truncate(menu.title, :length => 25)), menu %><p>
        </div>

      <td>
    </tr>
   <% end %>
 </div>

</div>
