<p id="notice"><%= notice %></p>


<div class="main">

<h1>Menus</h1>

<input class="search-query form-control" type="search" results="5" id="search" placeholder="Looking for any type of cuisine? ">
<table id="table">

  <div class="menu">
    <% @menus.each do |menu| %>
     <tr>
       <td>
        <div class="thumb">
          <%= link_to (image_tag menu.image), menu %>
          <%= link_to menu.title, menu %>
        </div>
      <td>
    </tr>
  </div>
   <% end %>
</div>
