<p id="notice"><%= notice %></p>


<div class="main">

<h1>Menus</h1>

<p>Looking for something specific? </p>
<input type="text" id="search" placeholder="Search">
<table id="table">

  <div class="menu">
    <% @menus.each do |menu| %>
     <tr>
       <td>
          <%= link_to (image_tag menu.image, :class => "thumb"), menu %>
          <%= link_to menu.title, menu %>
      <td>
    </tr>
  </div>
   <% end %>
</div>
