<div class="main">
  <h1>Chefs</h1>
  <% @users.each do |user| %>
  <div class="displayChefs">
      <div class="thumb">
      <%=link_to (image_tag user.image), user %>
      <h2><%= link_to (user.name), user%></h2>
      <%= user.average_rating %>
    </div>
  </div>

  <% end %>
</div>
