<div class="main">
  <p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
    <% @events.each do |event| %>
        <p><%= link_to event.description, event %></p>
    <% end %>

<br>

<%= link_to 'New Event', new_event_path %>
</div>
