<div class="main">
  <p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
    <% @current_user.events.each do |event| %>
        <li><%= link_to event.description, event %></li>
    <% end %>

<br>

<%= link_to 'New Event', new_event_path, :class => 'linkButton' %>
</div>
