<!-- <h1>Cooker</h1> -->


<div class="background">  </div>

<div class="about">
  <h2>ABOUT</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<div class="menus">
  <h2>MENUS</h2>


</div>

<div class="chefs cf">
  <h2>CHEFS</h2>
  <div class="photoBanner cf">
      <img src="<%= @users.last.image %>" class="pages_thumbDiv cf" />
    <% @users.each do |user| %>
      <%= user.first_name%>
      <div class="pages_thumbDiv cf">
        <img src="<%=user.image %>"/>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
