<div class="homePage">

  <div class="background"></div>

  <div class="about">
    <div class="row">
      <div class="col-md-4">
        <h3>Create an Event</h3>
        <img src="https://media-public.canva.com/MAAXLahZmpY/1/thumbnail.png" alt="..." class="img-rounded">
      </div>
      <div class="col-md-4">
        <h3>Choose your Chef</h3>
        <img src="https://media-public.canva.com/MAAXLahZmpY/1/thumbnail.png" alt="..." class="img-rounded">
      </div>
      <div class="col-md-4">
        <h3>
          Enjoy</h3>
        <img src="https://media-public.canva.com/MAAXLahZmpY/1/thumbnail.png" alt="..." class="img-rounded">
      </div>
    </div>

  </div>

  <div class="menus cf">
    <h2>MENUS</h2>
    <div class="row-fluid">
      <div class="col-lg-12 col-md-10 ">
        <div class="autoplay cf">
          <% @menus.each do |menu| %>
          <div class="pages_thumbDiv cf">
            <%= link_to(image_tag(menu.image, :class => 'thumb'), menu) %>
            <%= link_to(menu.cuisine, menu, :class => "textImage") %>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="chefs cf">
    <h2>CHEFS</h2>
    <div class="row-fluid">
      <div class="col-lg-12 col-md-10">
        <div class="autoplay cf">
          <% @users.each do |user| %>
          <div class="pages_thumbDiv cf">
            <%= link_to(image_tag(user.image, :class => 'thumb'), user) %>
            <%= link_to(user.first_name, user, :class => "textImage") %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
