// Place all the styles related to the Chefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.usersViewIcon {
  // box-sizing: border-box;
  border-radius: 5px;
  // margin: 20px;
  padding: 20px;
  background-color: gainsboro;
  margin: 2% 0.5% 2% 0.5%;
}

.usersViewIcon h2 {
  margin-left: 0;
}

.userInfo {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  background-color: #beeeef;
  border-radius: 5px;
  margin: 2% 0.5% 2% 0.5%;
}
.return {
  display: block;
  margin-top: 10%;
}

.chefsViewIcon h2{
  margin: 0 0 5% 0;
  padding: 0;
}
