// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menuField{
  display: none;
}

.chefMenuField{
  display: none;
}


#chefConfirm{
  display: none;
}

@media (min-width: 768px) {
  .container {
     width: 100%;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  max-width: 100%;

}
