// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.thumb{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.thumb img{
  width: 150px;
  height: 150px;
  border: 2px solid #101010;
  border-radius: 5%;
}

.menu{
  display: inline-block;
  margin-bottom: 30px;
}

th{
  padding: 10px;
  text-align: center;
  display: inline-block;
}

td{
  padding: 10px;
  text-align: center;
  display: inline-block;
}

tr {
  display: inline-block;
}

input[type=search] {
	color: black;
	text-align: center;
	cursor: pointer;
	display: block;
	width: 100%;
	letter-spacing: 4px;
	word-spacing: 20px;
}


.menuImage{
  width: 400px;
  margin-right: 60px;
  vertical-align: center;
  max-width: 100%;
  box-shadow: 2px 4px 10px black;
  margin-top: 50px;
}

.menuShowImage{
  display: inline-block;
}

.menuShowText{
  display: inline-block;
  vertical-align: top;
  max-width: 40%;
  text-align: left;
}

.linkButton {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  &:hover{
    color: white;
    box-shadow: 2px 2px gainsboro;
  }
}
