// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .chefReviews {
//   max-width: 500px;
//   background-color: grey;
//   margin: 0 auto;
//   text-align: left;
// }
#messages {
  text-align: center;
  padding: 0 10% 5% 10%;
}

.incoming-message {
  border-radius: .5em;
  background-color: papayawhip;
  width: 60%;
  align: left;
  margin-right: 40%;
}

.outgoing-message {
  border-radius: .5em;

  background-color: salmon;
  width: 60%;
  align: right;
  margin-left: 40%;
}

.redder {
  color: red !important;
}

#message-content, #profile-message-content {
  height: 6em;
  width: 100%;
  margin: 10px;
}

#conversations {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

#messages-display {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  display: none;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;

  h2 {
    margin: 0 0 10px 0;
  }
}

#create-message-box {
  margin: 1em auto;
}

.userSelect {
  width: 40%;
  margin-bottom: 20px;
}

.chat-head {
  display: inline-block;
  background-color: gainsboro;
  text-align: center;
  // border: 1px solid salmon;
  border-radius: .35em;
  margin: 1.5%;
}

.unread {
  background-color: red;
}

.new-message{
  display: inline-block;
  background-color: #beeeef;
  text-align: center;
  // border: 1px solid salmon;
  border-radius: .35em;
  margin: 1.5%;
}

.chat-head, .new-message:hover {
  cursor: pointer;
}

.userIcon {
  // max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
  margin: .25em;
}
