// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .chefContainer{
//  // width: 1000px;
//  overflow: hidden;
//  margin: 50px auto;
//  background: white;
// }



.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.pages_thumbDiv{
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
  float: left;
  background: 50% 50% no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.pages_thumbDiv img {
  display: block;
  height: 200px;
  width: 200px;
}

.about {
  background-color: gainsboro;
  padding: 5% ;
  color: gray;
}


.menus {
  min-height: 60px;
  background: white;
  padding: 5%;

}

.chefs {
  min-height: 60px;
  background: gainsboro;
  padding: 5%;
}

.footer{
  background-color: black;
  padding: 5%;
}

.displayMenus {
  display: inline;
  margin: 20px;
}

.displayMenus img {
width: 150px;
height: 150px;
}


.background {
 background-attachment: fixed;
 background-image: url(http://ww1.prweb.com/prfiles/2012/05/22/9531901/Moevenpick_Hotels_and_Resorts_Chef_preparing_food_for_thought.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 background-position: center;
 padding-top: 10%;
 padding-bottom: 50%;
 margin: 0 auto;
 opacity: 0.6;
}
