// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background {
  background-attachment: fixed;
  background-image: url(http://ww1.prweb.com/prfiles/2012/05/22/9531901/Moevenpick_Hotels_and_Resorts_Chef_preparing_food_for_thought.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 50%;
  margin: 0 auto;
  opacity: 0.6;
}

.about {
  background-color: gainsboro;
  padding: 5% ;
  color: gray;
}


.menus {
  min-height: 60px;
  background: white;
  padding: 5%;

}

.chefs {
  min-height: 60px;
  background: gainsboro;
  padding: 5%;
}

.footer{
  background-color: black;
  padding: 5%;
}

.displayMenus {
  display: inline;
  margin: 20px;
}

.displayMenus img {
width: 150px;
height: 150px;
}
