// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .chefReviews {
//   max-width: 500px;
//   background-color: grey;
//   margin: 0 auto;
//   text-align: left;
// }

.reviews{
  background-color: #beeeef;
  padding: 2% 10% 2% 10%;
  text-align: left;
}

.reviewsContainer {
  display: inline-block;
}

.overflowScrool{
  max-height: 300px;
  max-width: 400px;
  overflow: scroll;

}
.showReviews{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}


fieldset.label{
  color: black;
  text-align: left;
  max-width: 100%;
}

.label {
  padding: 0;
}
.ratings {
  margin-bottom: 20px;
}

h4 {
  text-align: left;
}
.reviewRating{
  max-width: 100%;
}

.reviewComments{
  width: 100%;
}

.individual_reviews {
  border: 1px solid white;
  padding: 3%;
  margin: 2%;
  border-radius: 2%;
}
