.newUser, .newMenu {
  width: 40%;
  margin-left: 32%;
  text-align: left;

  h1 {
    text-align: left;
    color: #83BFC0;
  }
}

.usersViewIcont {
  margin: 0 auto;
}

input[type="file"] {
    display: block;
    margin-top: 10%;
}
