// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Montserrat);


h1{
  text-align: center;
  margin-top: 5%;
}
tr {
  // background-color: #beeeef;
  margin-bottom: 10px;
}

.profileImage{
  display: inline-block;
  max-width: 20%;
  vertical-align: center;
}

.profileImage img{
  display: inline-block;
  max-height: 300px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black;
}

.profileInfo{
  display: inline-block;
  max-width: 60%;
  text-align: left;
  vertical-align: bottom;
  margin-left: 150px
}

.usersProfile {
    color: black;
    background-color: gainsboro;
    max-width: 10000px;
    padding: 30px;
}

.usersProfile h3{
  text-align: center;
  text-shadow: 2px 2px 2px white;

}

.reviewsShow{
  background: white;
  padding: 30px;
}
