// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Montserrat);


h1{
  text-align: center;
  margin-top: 5%;
}
tr {
  // background-color: #beeeef;
  margin-bottom: 10px;
}

.userProfilePic{
  display: inline-block;
  margin: 40px;
  margin-left: 10%;

}

.profilePic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    border: 8px solid #beeeef;
}

.chefBio{
  max-width: 70%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

.usersInfo{
  display: inline-block;
  max-width: 80%;
  vertical-align: -webkit-baseline-middle;
  padding: 10px 50px 10px 50px;
  border-radius: 5%;
}

.mainUsers{
  background-color: whitesmoke;
}

.userInfo h4{
 color: rgb(8, 184, 168);
}
